@mixin border-1px(){
    position:relative;
     &:after{
        display:block;
        position:absolute;
        width:100%;
        content:' ';
    }
}

//定义边框样式
.border-1px{
    @include border-1px();
}

//媒体查询
@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
    .border-1px{
       &::after{
        -webkit-transform:scaleY(0.7);
        transform:scaleY(0.7);
       }
  }
}

//-webkit-min-device-pixel-ratio 有多个值，可以根据项目需求定义更多的值来适配不同的机型，详细请查看本文最后的参考
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
    .border-1px{
      &::after{
        -webkit-transform:scaleY(0.5);
        transform:scaleY(0.5);
      }
  }
}
.border-top{
    &:after{
        top: 0;
        left: 0;
        border-top:1px solid #44525d;
    }
}
.border-bottom{
    &:after{
        bottom: 0;
        left: 0;
        border-top:1px solid #dfdfdf;
    }
}
.border-right{
    &:after{
        height: 50px;
        top: -13px;
        right: -3px;
        border-right:1px solid #44525d;
    }
}


.bottom-height{
    height: 96px;
}

.input{
    outline: none;
    border: none;
    height: 75px;
    line-height: 75px;
    color: #999999;
    text-align: center;
    height: 60px;
}
.dis-inline-block{
    display: inline-block;
}
.mt20{
    margin-top: 20px;
}
.mt50{
    margin-top: 50px;
}
.button-confirm{
    outline: none;
    border: none;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    font-size: 28px;
}
.reg-gradient{
   background: linear-gradient(to right, #65b1ff, #5490ff);
}
.width-full{
    width: 100%;
}